@font-face {
  font-family: "Comic Neue";
  src: url(../../fonts/ComicNeue-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comic Neue";
  src: url(../../fonts/ComicNeue-Light.ttf);
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Comic Neue";
  src: url(../../fonts/ComicNeue-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
