@import "./variables";

@mixin flex($justify-content: normal, $align-items: normal, $direction: row, $gap: 0) {
  display: flex;
  @if $justify-content != normal {
    justify-content: $justify-content;
  }
  @if $align-items != normal {
    align-items: $align-items;
  }
  @if $direction != row {
    flex-direction: $direction;
  }
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin media-query($breakpoint) {
  @if $breakpoint == "sm" {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  }
  @if $breakpoint == "md" {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  }
  @if $breakpoint == "lg" {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
  @if $breakpoint == "xl" {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

@mixin backdrop-blur($blur: 15px) {
  backdrop-filter: blur($blur);
}

@mixin position($position: static, $top: "", $right: "", $bottom: "", $left: "") {
  @if $position != "static" {
    position: $position;
  }

  @if $top != "" {
    top: $top;
  }

  @if $right != "" {
    right: $right;
  }

  @if $bottom != "" {
    bottom: $bottom;
  }

  @if $left != "" {
    left: $left;
  }
}
