@import "../../styles/abstract/";

.wrapper {
  width: 100%;
  margin: 0 auto;
  @include media-query("sm") {
    max-width: $breakpoint-sm;
  }
  @include media-query("md") {
    max-width: $breakpoint-md;
  }
  @include media-query("lg") {
    max-width: $breakpoint-lg;
  }
  @include media-query("xl") {
    max-width: $breakpoint-xl;
  }
}
